@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;600;700&family=Lexend+Deca:wght@100;200;300;400;500;600;700&family=Montserrat:wght@400;700&family=Mulish:wght@300&family=Poppins:wght@300;400;600&family=Urbanist:wght@300;400;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans" sans-serif;
}

:root {
  --bs-dark-color: #1a1d20;
  --bs-dark-primary: #1c1c1c;
  --bs-main-color: #fff;
  --bs-main-color-navbar: #8cb2bd;
  --bs-main-color-card: #2f353f;
  --bs-main-color-footer: #aaacb0;
}

.heading_h5 {
  color: #2f353f;
  font-size: 26.4px;
  line-height: 33px;
  letter-spacing: -1.32px;
  word-spacing: 0px;
  font-weight: 400;
  font-style: normal;
}
.vr {
  width: 0.5px;
  color: var(--bs-main-color);
}

.nav-link {
  color: var(--bs-main-color) !important;
  font-weight: bold;
}

.container {
  max-width: 70% !important;
}

.col-lg-4 {
  margin-top: 1rem;
  margin-left: 1rem;
}

.col-lg-4 > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.uniform-width {
  width: 100%;
  max-width: 300px;
}

.form-control {
  flex: 1;
  min-width: 200px;
}

.rodriguez__group img {
  color: #ffffff;
  font-size: 28.6px;
  line-height: 35.75px;
  letter-spacing: -1.43px;
  word-spacing: 0px;
  font-weight: 500;
  font-style: normal;
  text-indent: -999999px;
}

li .custom-nav-link {
  color: #ffffff;
  font-size: 11px;
  line-height: 18px;
  letter-spacing: normal;
  word-spacing: 0px;
  font-weight: 400;
}

li .sub__header_navlink {
  color: var(--bs-main-color-navbar) !important;
  opacity: 0.8;
  font-size: 13px;
  line-height: 45px;
  letter-spacing: normal;
  word-spacing: 0px;
  margin: 0px;
  padding: 0px 20px;
  font-weight: 400;
  font-style: normal;
}

.form-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.form-group p {
  margin-bottom: 0;
  margin-right: 10px;
}

.col-lg-4 > div > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.col-lg-4 img {
  max-width: 50px;
  margin-right: 1rem;
}

.col-lg-4 h4 {
  margin: 0;
  font-size: 1.25rem;
}

.col-lg-4 p {
  margin: 0.5rem 0;
  font-size: 1rem;
}

.col-lg-4 > div > p {
  margin-top: 1rem;
  font-size: 0.9rem;
  text-align: center;
}

.carousel__main__mobile {
  position: absolute;
  top: 47px;
  left: 110px;
  width: 25vw;
}

.carousel__header {
  color: #2f353f;
  font-size: 44px;
  font-weight: 600;
  font-style: italic;
  font-variant: normal;
  letter-spacing: -4.4px;
}

.carousel__main__medical img {
  margin-top: 60px;
}

.carousel__header__para {
  color: #555555;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: normal;
  font-weight: 400;
  font-style: normal;
  text-align: start;
}

.carousel__main__medical {
  position: absolute;
  top: 54px;
  left: 110px;
  width: 25vw;
}


.carousel__main__internet {
  position: absolute;
  top: 80px;
  left: 120px;
  width: 30vw;
}

.carousel__main__internet img {
  margin-top: 60px;
}

.carousel__main__database {
  position: absolute;
  left: 105px;
  top: 65px;
  width: 30vw;
}

.carousel__main__database img {
  margin-top: 60px;
}

.card__title__main {
  color: var(--bs-main-color-card) !important;
  margin-left: 20px;
  font-size: 26.4px;
  line-height: 33px;
  letter-spacing: -1.32px;
  word-spacing: 0px;
  font-weight: 400;
  font-style: normal;
  text-transform: none;
}

.card__title__paragraph {
  color: #333333;
  font-size: 12px;
  line-height: 17px;
  letter-spacing: normal;
  word-spacing: 0px;
  font-weight: 400;
  font-style: normal;
  margin-left: 20px;
}

.mobile__solution__css {
  color: #333333;
  font-size: 12px;
  line-height: 17px;
  letter-spacing: normal;
  word-spacing: 0px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  margin-left: 40px;
  margin-top: -18px;
}
.mobile__solution__css p{
  margin-left: 43px;
  margin-top: -30px;
}
.mobile__solution__css__para p{
  margin-top: -30px;


}
.mobile__solution__css__para {
  color: #333333;
  font-size: 12px;
  line-height: 17px;
  letter-spacing: normal;
  word-spacing: 0px;
  font-weight: 400;
  font-style: normal;
  margin-top: -13px;
  margin-left: 6px;
}
.banner_css {
  color: #698693;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: normal;
  word-spacing: 0px;
  font-weight: 700;
}

li .anchor_tag_footer__css {
  color: var(--bs-main-color-footer) !important;
  font-size: 11px;
  line-height: 18px;
  letter-spacing: normal;
  word-spacing: 0px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
}

.footer__css {
  color: #989ba0;
  font-size: 11px;
  line-height: 17px;
  letter-spacing: normal;
  word-spacing: 0px;
  font-weight: 400;
  font-style: normal;
}

/* for mobile */

.navbar-toggler-icon {
  border: none;
}

.head_paragraph {
  color: #333333;
  font-size: 12px;
  line-height: 17px;
  letter-spacing: normal;
  word-spacing: 0px;
  font-weight: 400;
  font-style: normal;
}

.collapse {
  transition: height 0.4s ease;
}
.form_css {
  color: #333333;
  font-size: 12px;
  line-height: 18px;
  word-spacing: 0px;
  font-weight: 400;
  font-style: normal;
}
.paragraph_css {
  color: #333333;
  font-size: 12px;
  line-height: 17px;
  word-spacing: 0px;
}

.navbar-toggler-icon {
  background-color: white;
  border-radius: 4px;
}

.navbar-toggler-icon.active {
  border: none;
}

/* Mobile view  */

@media (max-width: 768px) {
  .container {
    max-width: 100% !important;
  }
}

@media (max-width: 768px) {
  .container .rodriguez__group {
    width: 200px;
    padding-bottom: 10px;
  }
}

@media (max-width: 768px) {
  li .sub__header_navlink {
    padding:0;
  }
}

@media (max-width: 768px) {
  .navbar-nav {
    display: flex !important;
    flex-direction: row !important;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
  }

  .navbar-nav .nav-item {
    margin: 0 10px;
  }

  .navbar-collapse {
    display: flex;
    justify-content: center;
  }

  .navbar-nav .vr {
    display: none;
  }
}
